
CREATE DATABASE HotelDB;
GO
USE HotelDB;
GO

-- ================================================
-- BẢNG 1: LOẠI PHÒNG
-- ================================================
CREATE TABLE LoaiPhong (
    MaLoaiPhong INT IDENTITY(1,1) CONSTRAINT PK_LoaiPhong PRIMARY KEY,
    TenLoaiPhong NVARCHAR(100) NOT NULL,
    DonGia DECIMAL(18,2) NOT NULL CONSTRAINT CK_LoaiPhong_DonGia CHECK (DonGia >= 0),
    MoTa NVARCHAR(500)
);
Go

-- ================================================
-- BẢNG 2: PHÒNG
-- ================================================
CREATE TABLE Phong (
    MaPhong INT IDENTITY(1,1) CONSTRAINT PK_Phong PRIMARY KEY,
    SoPhong NVARCHAR(20) NOT NULL CONSTRAINT UQ_Phong_SoPhong UNIQUE,
    MaLoaiPhong INT NOT NULL,
    TrangThai NVARCHAR(50) DEFAULT N'Trống' 
        CONSTRAINT CK_Phong_TrangThai CHECK (TrangThai IN (N'Trống', N'Đang thuê', N'Đang dọn dẹp', N'Bảo trì')),
    MoTa NVARCHAR(500),
    CONSTRAINT FK_Phong_LoaiPhong FOREIGN KEY (MaLoaiPhong) REFERENCES LoaiPhong(MaLoaiPhong)
);
Go

-- ================================================
-- BẢNG 3: KHÁCH HÀNG (đặt phòng online, không cần tài khoản)
-- ================================================
CREATE TABLE KhachHang (
    MaKhachHang INT IDENTITY(1,1) CONSTRAINT PK_KhachHang PRIMARY KEY,
    HoTen NVARCHAR(100) NOT NULL,
    SoDienThoai NVARCHAR(15),
    Email NVARCHAR(100),
    CCCD NVARCHAR(20),
    DiaChi NVARCHAR(200)
);
Go

-- ================================================
-- BẢNG 4: ĐẶT PHÒNG (người dùng gửi yêu cầu)
-- ================================================
CREATE TABLE DatPhong (
    MaDatPhong INT IDENTITY(1,1) CONSTRAINT PK_DatPhong PRIMARY KEY,
    MaKhachHang INT NOT NULL,
    MaPhong INT NOT NULL,
    NgayDat DATETIME NOT NULL DEFAULT GETDATE(),
    NgayNhanDuKien DATE NOT NULL,
    NgayTraDuKien DATE NOT NULL,
    TrangThai NVARCHAR(50) DEFAULT N'Chờ xác nhận'
        CONSTRAINT CK_DatPhong_TrangThai CHECK (TrangThai IN (N'Chờ xác nhận', N'Đã xác nhận', N'Đã hủy', N'Đã check-in', N'Đã check-out')),
    GhiChu NVARCHAR(500),
    CONSTRAINT FK_DatPhong_KhachHang FOREIGN KEY (MaKhachHang) REFERENCES KhachHang(MaKhachHang),
    CONSTRAINT FK_DatPhong_Phong FOREIGN KEY (MaPhong) REFERENCES Phong(MaPhong)
);
Go

-- ================================================
-- BẢNG 5: NHÂN VIÊN (quản trị viên, nhân viên lễ tân)
-- ================================================
CREATE TABLE NhanVien (
    MaNhanVien INT IDENTITY(1,1) CONSTRAINT PK_NhanVien PRIMARY KEY,
    HoTen NVARCHAR(100) NOT NULL,
    TenDangNhap NVARCHAR(50) NOT NULL CONSTRAINT UQ_NhanVien_TenDangNhap UNIQUE,
    MatKhau NVARCHAR(255) NOT NULL,
    ChucVu NVARCHAR(50) CHECK (ChucVu IN (N'Quản trị viên', N'Nhân viên')),
    TrangThai NVARCHAR(20) DEFAULT N'Hoạt động'
);
Go

-- ================================================
-- BẢNG 6: CHECK-IN / CHECK-OUT (ghi nhận thực tế)
-- ================================================
CREATE TABLE LuuTru (
    MaLuuTru INT IDENTITY(1,1) CONSTRAINT PK_LuuTru PRIMARY KEY,
    MaDatPhong INT NOT NULL,
    MaNhanVien INT NOT NULL,
    CCCDKhach NVARCHAR(20) NOT NULL,
    GioCheckIn DATETIME NOT NULL DEFAULT GETDATE(),
    GioCheckOut DATETIME NULL,
    GhiChu NVARCHAR(500),
    CONSTRAINT FK_LuuTru_DatPhong FOREIGN KEY (MaDatPhong) REFERENCES DatPhong(MaDatPhong),
    CONSTRAINT FK_LuuTru_NhanVien FOREIGN KEY (MaNhanVien) REFERENCES NhanVien(MaNhanVien)
);
Go

-- ================================================
-- BẢNG 7: HÓA ĐƠN (tạo khi khách trả phòng)
-- ================================================
CREATE TABLE HoaDon (
    MaHoaDon INT IDENTITY(1,1) CONSTRAINT PK_HoaDon PRIMARY KEY,
    MaLuuTru INT NOT NULL,
    MaNhanVien INT NOT NULL,
    NgayLap DATETIME DEFAULT GETDATE(),
    TongTien DECIMAL(18,2) NOT NULL CONSTRAINT CK_HoaDon_TongTien CHECK (TongTien >= 0),
    GhiChu NVARCHAR(500),
    CONSTRAINT FK_HoaDon_LuuTru FOREIGN KEY (MaLuuTru) REFERENCES LuuTru(MaLuuTru),
    CONSTRAINT FK_HoaDon_NhanVien FOREIGN KEY (MaNhanVien) REFERENCES NhanVien(MaNhanVien)
);
Go

-- ================================================
-- VIEW: Tổng hợp tình trạng phòng
-- ================================================
CREATE VIEW v_TinhTrangPhong AS
SELECT 
    p.MaPhong,
    p.SoPhong,
    lp.TenLoaiPhong,
    lp.DonGia,
    p.TrangThai,
    p.MoTa
FROM Phong p
JOIN LoaiPhong lp ON p.MaLoaiPhong = lp.MaLoaiPhong;
Go

-- ================================================
-- DỮ LIỆU MẪU
-- ================================================
INSERT INTO LoaiPhong (TenLoaiPhong, DonGia, MoTa)
VALUES 
(N'Tiêu chuẩn', 500000, N'Phòng 1 giường đơn, có máy lạnh, tivi'),
(N'Cao cấp', 800000, N'Phòng 1 giường đôi, ban công view đẹp'),
(N'Suite', 1200000, N'Phòng cao cấp, có phòng khách riêng, minibar');
Go

INSERT INTO Phong (SoPhong, MaLoaiPhong, TrangThai, MoTa)
VALUES 
(N'101', 1, N'Trống', N'Gần lễ tân, tầng trệt'),
(N'202', 2, N'Đang thuê', N'View hồ bơi, yên tĩnh'),
(N'303', 3, N'Trống', N'Phòng lớn, có phòng khách riêng');
Go

INSERT INTO NhanVien (HoTen, TenDangNhap, MatKhau, ChucVu)
VALUES 
(N'Nguyễn Văn A', 'admin', '123456', N'Quản trị viên'),
(N'Trần Thị B', 'nhanvien', '123456', N'Nhân viên');
GO
